.bzr
TOFIX.txt
docker_prepare.txt
*.log
.bzrignore
run.sh
README_LOG
**/__pycache__
django4/data/WORK/NewPhotos24
django4/dict.txt
django4/files.txt
django4/raw.txt
django4/rounded.txt
django4/steps.txt
django4/data/WORK
django4/photos/BAK_ARCHIVE
django4/photos/dict.txt
django4/photos/files.txt
django4/photos/raw.txt
django4/photos/rounded.txt
django4/photos/steps.txt
django4/temp.xml
django4/data/RENAME/last_number.txt
django4/data/WORK/MA.Bel.2024010101.kml.xml
django4/data/WORK/MA.Bel.2024010101.kml.xml.orig
**/files_json.js
django4/data/static/small/*.jpg
django4/saved.log
django4/data/static/photos/202404
django4/data/static/thm/photos/202404
django4/names/CACHE/*
