<html><head></head><body>
        <b>Monilophytes</b><br/>
        <span style="font-size:90%">
        Name alluding to Latin <i>moniliformis</i>, necklace-like.
        Monilophytes share a distinctive anatomical feature of vessels:
        protoxylem confined to lobes of xylem strand (Stein 1993),
        forming a necklace-shaped pattern.
        Image from IFAS (University of Florida): </span>       
        <img style="max-width:400px; padding-top:1ex"
        src="https://propg.ifas.ufl.edu/images/01-biology/02-cell-types/celltypesxylem/image6.jpg"/>
        </body></html>
