<html><head></head><body>
        <b>'Tricolpate'</b>
            means 'having pollen with three grooves.' Meaning of 'colpa' in Latin is 'fault' 
            (including such meaning as geological fault, i.e., furrow).
            Pollen image from Wikipedia:
            <a title="Marie Majaura, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Arabis_voch1-4.jpg"><img width="440" style="max-width:400px; padding-top:1ex" alt="Arabis voch1-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Arabis_voch1-4.jpg/512px-Arabis_voch1-4.jpg"/></a>           
<!--   was 512      <img style="max-width:400px"
        src="https://en.wikipedia.org/wiki/Eudicots#/media/File:Arabis_voch1-4.jpg"/>-->
        </body></html>
