<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Invasive Plants at Salicicola: County List</title>
      <style type="text/css">
						body {
						margin: 0;
						border: 0;
						padding: 0;  /* no effect */
						color: #8B0000; 
						background-color: #F0FFF0;
					}
					table {
						margin: 0px;
						padding: 10px;
						border: 0px;
					}
					table.header {
						margin: 0px;
						padding: 0px;
						border: 0px;
					}
					A:link {
						color: #8B0000; 
						background-color: transparent;
						/* text-decoration: none; */
					}
					A:visited {
						color: #8B0000; 
						background-color: transparent;
						/* text-decoration: none; */
					}
					A:active {
						color: #ff0000; 
						background-color: transparent;
						/* text-decoration: none; */
					}
					A:hover {
						color: #ff0000; 
						background-color: transparent;
						/* text-decoration: none; */
					}
				</style>
                <script language="JavaScript" type="text/javascript" src="/scripts/menu.js"></script>
                <script language="JavaScript" type="text/javascript" src="/scripts/scripts05.js"></script>
   </head>
   <body>
      <table class="header" border="0" width="100%" cellspacing="0" style="background-color: #8B0000;">
         <tbody valign="top" style="background-color: #8B0000;">
            <tr>
               <td nowrap style="padding-top: 0px; height: 40px; margin-top: 0px; vertical-align: middle; text-align:left; background-color: #8B0000; font-size: 30pt; color: #F0FFF0;"><a href="/" style="color: white; text-decoration: none;"><img height="40" border="0" alt="Salicicola" src="/images/Salicicola__40.gif"></a></td>
               <td nowrap style="padding-top: 0px; height: 40px; margin-top: 0px; vertical-align: middle; text-align:right; background-color: #8B0000; font-size: 30pt; color: #F0FFF0;"><img height="40" border="0" alt="Projects" src="/images/Projects__40.gif"></td>
            </tr>
         </tbody>
      </table>
      <table class="contents" border="0" align="left" width="100%">
         <tr>
            <td>
               <p style="font-size:125%;font-weight:bold">Massachusetts Invasive Plants at Salicicola</p>
               <p><img align="right" style="margin-left:1em;" border="1" width="450" alt="Chocolate vine (Akebia quinata) infestation in Forbes Woods, Milton, MA (2009)" title="Chocolate vine (Akebia quinata) infestation in Forbes Woods, Milton, MA (2009)" src="http://salicicola.com/servlet/GetImage?id=20090815canon0941x"><p>
                     		<b>Official list of invasive plants</b>
                     		<br>
							The official List of Massachusetts invasive plants categorized as 'Invasive', 'Likely Invasive', and 'Potentially Invasive' 
							(the latter meaning plants not found in MA by the time list was comprised). 
							The full list can be found at 
							<a href="http://www.massnrc.org/MIPAG/">MIPAG</a> 
							(Massachusetts Invasive Plant Advisory Group) and 
                     		<a href="https://www.mass.gov/service-details/invasive-plants">NHESP</a>  
							websites as well as in the 'Guide to invasive plants in Massachusetts' (Somers et al. 2006); 
							its second edition (2008) can be ordered from  
                     		<a href="https://www.mass.gov/doc/masswildlife-publication-order-form/download">NHESP</a>.
							The species listed as 'Invasive' are deemed invasive in the legal sense, which particularly means that their propagation and importation has been banned in Massachusetts. 


<!--
                     The official <b style="color:red">2005</b> List of Massachusetts invasive plants includes 66
<b style="color:red">now 36+33+3=72 + 34 "Not Currently Meeting Criteria</b>
                     species categorized as 'Invasive', 'Likely Invasive', and 'Potentially Invasive' 
                     (the latter meaning plants not found in MA by the time list was comprised). 
                     The full list can be found at <a href="http://www.massnrc.org/MIPAG/">MIPAG</a> 
                     (Massachusetts Invasive Plant Advisory Group) and 
                     <a href="https://www.mass.gov/service-details/invasive-plants">NHESP</a> websites 
                     as well as in the 'Guide to invasive plants in Massachusetts' (Somers et al. 2006); its
                     second edition (2008) can be ordered from 
                     <a href="https://www.mass.gov/doc/masswildlife-publication-order-form/download">NHESP</a>.
                     The species listed as 'Invasive' are deemed invasive in the legal sense, which particularly
                     means that their propagation and importation has been banned in Massachusetts.    -->                
                  </p>
               </p>
               <p>
                  		<b>Definition of an invasive plant</b>
                  		<br>
						The detailed definition of the invasive plant can be found in the cited sources,
						by <a href="https://www.invasivespeciesinfo.gov/invasive-species-definition-clarification-and-guidance">National Invasive Species Council</a>, 
						and by <a href="https://www.doi.gov/sites/doi.gov/files/uploads/isac_definitions_white_paper_rev.pdf">ISAAC</a>. 
						To keep it simple and concise, one may say that invasive plants are alien plants that constitute a serious menace to natural habitats of a particular area. 
						An aggressive alien plant is not necessarily invasive; invasive plants are those that have managed to overcome a significant natural barrier (such as an ocean or a mountain range), 
						which normally would prevent their natural dispersal to the area. Without human promotion it would be impossible for the plants to overcome such a barrier. 
						Therefore, the statement about the invasiveness of black locust in MA is debatable. It appears quite obvious that poison ivy and greenbrier are not invasive in Massachusetts, as they are both native.

<!--
                  The detailed definition of the invasive plant can be found in the cited 
                  sources; others provide similar, though not exactly identical
                  definitions. To keep it simple and concise, one may say that invasive
                  plants are alien plants that constitute a serious menace to natural
                  habitats of a particular area. We agree with the following clarification
                  made by <a href="https://www.invasivespeciesinfo.gov/what-are-invasive-species">ISAC</a>
                  (Invasive Species Advisory Committee of National Invasive
                  Species Council): <b style="color:red">USTARELO : ne nashyol</b> an aggressive alien plant is not necessarily invasive;
                  invasive plants are those that have managed to overcome a significant
                  natural barrier (such as an ocean or a mountain range), which normally
                  would prevent their natural dispersal to the area. Without human
                  promotion it would be impossible for the plants to overcome such a
                  barrier. Therefore, the statement about the invasiveness of black locust
                  in MA is debatable. It appears quite obvious that poison ivy and
                  greenbrier are not invasive in Massachusetts, as they are both native.
<pre>
https://www.invasivespeciesinfo.gov/invasive-species-definition-clarification-and-guidance
An invasive species is "an alien species whose introduction does or is likely to cause economic 
or environmental harm or harm to human health" as per Executive Order 13112: Section1. Definitions.
https://www.doi.gov/sites/doi.gov/files/uploads/isac_definitions_white_paper_rev.pdf
</pre>
    -->              
               </p>
               <div>
                  					<span style="font-weight:bold">Listing by County</span>
                  					<br>
                                    <div style="padding-left:5ex;text-indent:-2ex;">

            [<a href="/names/vascular/invasive/all/">All records</a>] 
            [<a href="/names/vascular/invasive/other/">Salicicola and rejected by MIPAG</a>] 
            MIPAG only: 
            [<a href="/names/vascular/invasive/invasive/">invasive] 
            [</a><a href="/names/vascular/invasive/potentially/">potentially invasive</a>] 
            [<a href="/names/vascular/invasive/likely/">likely invasive</a>] 
<!--            [<a href="/names/vascular/invasive/rejected/">rejected</a>]  20  -->
<!--            [<a href="/names/vascular/invasive/mipagall/">all in MIPAG</a>]  97  -->
</span>
		</h2>
<div class="debug" style="padding-left:1em;color:black"> 
    <ol>

</div>



<!-- OUTDATED wid dead links                   					
                  <div style="padding-left:5ex;text-indent:-2ex;">
                     						[<a href="/plants/invasive/invasiveA.html">alphabetical</a>]
                     						[<a href="/plants/invasive/invasiveT.html">taxonomical</a>]
                     						[<a href="/plants/invasive/invasiveF.html">by&nbsp;habit</a>] 
                     					
                  </div>
                  					<br>
-->                  				
               </div>
               <div>
                  					<span style="font-weight:bold">Species Notes</span>
                  					<br>
                  <div style="padding-left:5ex;text-indent:-2ex;">
                     						<a href="{{server}}/plants/invasive/notes/20100201picea.html">Norway spruce: Yet another invasive tree in New England (1 Feb 2010)                    					
                  </div> 

                 					
                  <div style="padding-left:5ex;text-indent:-2ex;">
                     						<a href="{{server}}/plants/invasive/notes/20090809jasione.html">Sheep's Bit (<i>Jasione montana</i>): A new invasive?</a> (9 Aug 2009)
                     					
                  </div>
                  					
                  <div style="padding-left:5ex;text-indent:-2ex;">
                     						<a href="{{server}}/articles/atrocinerea2">The alien rusty willow <i>Salix&nbsp;atrocinerea</i>:
                        							A possibility of hybridization with American willows</a> (21 Jul 2008)
                     					
                  </div>
                  					
                  <div style="padding-left:5ex;text-indent:-2ex;">
                     						<a href="{{server}}/articles/atrocinerea">European rusty willow <i>S.&nbsp;atrocinerea</i> 
                        							in eastern Massachusetts</a> (1 Feb 2008)
                     					
                  </div>
                  					<br>
                  				
               </div>
               <div>
                  					<span style="font-weight:bold">Reports</span>
                  					<br>
                  					
                  <div style="padding-left:5ex;text-indent:-2ex;">
                     								<i><a title="restored from draft" href="{{server}}/plants/invasive/reports/Lespedeza">Lespedeza thunbergii</a></i> 2007
                     					
                  </div>
                  
                  					
                  <div style="padding-left:5ex;text-indent:-2ex;">
                     								<i><a href="{{server}}/plants/invasive/reports/Akebia/">Akebia quinata</a></i> 2009
                     					
                  </div>
                  					<br>
                  				
               </div>
               <div>
                  					<span style="font-weight:bold">Slide Show</span>
                  					<br>
                  					
                  <div style="padding-left:5ex;text-indent:-2ex;">
					<a href="{{server}}/plants/invasive/slides">Vines: Oriental bittersweet, mile-a-minute, kudzu, and chocolate vine</a>
                    <br/>   						
                    The photo on the right
                    shows chocolate vine (<i>Akebia quinata</i>) infestation in Forbes Woods, Milton, MA (2009).
                  </div>   				
               </div>
            </td>
         </tr>
      </table>
   </body>
</html>
